.cursor
.vscode
.idea
dist/
build/
logs/
node_modules/
.env
.env.prod
.env-prd
.env-stg
.env.*
!.env.example
yarn.error.log
yarn-error.log
coverage
var
code-tests/
prisma
.tool-versions
yarn.lock
package-lock.json
